<script id="tmpl-Groups" type="text/html">
    <div class="Groups">
    	<h2>Boxes</h2>
    	<div>
    	</div>
    	<div class="dataTable">
	        <div class="tbody lists">
	        </div>
	  </div>
    </div>
</script>
<script id="tmpl-Groups-rowItem" type="text/html">
	 <div class="trow" data-entity="{{type}}" data-entity-id="{{id}}" >
	     <div class="tcell item">{{name}}</div>
	     <div class="tcell">
	     	{{#if show}}
	     	<span class="btn btnEdit" title="Edit"><i title="Edit" class="icon-pencil"></i></span>
	     	<span class="btn btn-danger btnDelete"  title="Delete"><i title="Delete" class="icon-trash"></i></span>
	     	{{/if}}
	     </div>
     </div>
</script>