<script id="tmpl-Token" type="text/html">
	<div class="Token modal">
		<div class="Token-header modal-header">
			<div class="close btnClose"><i class="icon-remove"></i></div>
			<h3>Save Token with code</h3>
		</div>
		<div class="Token-content modal-body">
			<div class="form-horizontal">
				<div class="authContent">
					<div class="control-group">
						<div class="controls">
							Did not login. please click button to login
						</div>
					</div>
					<div class="control-group">
						<div class="control-label"></div>
						<div class="controls">
							<div class="btn btnAuth">Go to do auth</div>
						</div>
					</div>
				</div>
				<div class="emailContent">
					<div class="control-group">
						<div class="control-label">Email:</div>
						<div class="controls">
							<input type="text" name="email" /> <br/>
							plese enter what you just login email
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Token-footer modal-footer">
			<div class="btn btn-primary btnSave">Save</div>
		</div>
	</div>  
</script>